**/vunit_out
**.egg-info
**.tox
*.pyc
*.bak
*.o
*.so
*.egg-info
.devcontainer
.tox
.vscode
docs/_build
docs/_theme
docs/theme.tgz
docs/context.json
docs/examples.rst
docs/license.rst
docs/readme.rst
docs/release_notes.rst
env/
venv/
error.csv
log.csv
my_logger.csv
/build/
/dist/
/docs/_build
/docs/_theme
/docs/examples.rst
/docs/release_notes.rst
/examples/vhdl/array_axis_vcs/src/test/data/out.csv
/tests/acceptance/*_out
/tests/unit/test_report_output.txt
/vunit/vhdl/check/test/tb_check_equal.vhd
/vunit/vhdl/check/test/tb_check_match.vhd
