**/vunit_out
**.egg-info
**.tox
*.pyc
*.bak
*.o
*.so
*.egg-info
.vscode
.devcontainer
docs/_build
docs/_theme
docs/theme.tgz
docs/context.json
docs/examples.rst
docs/license.rst
docs/readme.rst
docs/release_notes.rst
vunit/test/acceptance/*_out
docs/verification_components/third_party.rst
